body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-styling {
  background-color: #d8cba3;
}

.btn-primary {
  background-color: #9cb7df !important;
}

.nav-pills .nav-link.active {
  background-color: #9cb7df !important;
}

.list-group-item {
  background-color : #9CB7B3 !important;
}